@charset "utf-8";
.container-fluid {
    background-color: rgba(234,190,128,0.75);
    background-image: url(bg/elegant_grid.png);
}

.nav-link {
color: #A2214C !important;
transition: all .5s ease-out;
}
.nav-link:hover, .nav-link:focus {
color: #2B313A !important;
}

body {
 font-family: "latienne-pro", serif;
font-weight: 500;
font-style: normal;
  color: #5C494A;
  background-color: #EABE80;
}

h1, h2, h3, h4, strong, figcaption {
font-family: "rafaella-shadow", sans-serif;
font-weight: 700;
font-style: normal;
color: #6d0606;	
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}
main a:link, main a:visited {
color: #6D0606;
transition: all .5s ease-out;
}
main a:hover, main a:active {
color: #A2214C;
background-color: #EABE80;
padding: 3px 6px;
}

main {
    background-image: url(bg/xv.png);
    padding-bottom: 20px;
}

.footer-text a:link, .footer-text a:visited {
color: #6d0606;
transition: all .5s ease-out;
}
.footer-text a:hover, .footer-text a:active {
color: #a2214c;
background-color: #B7A680;
padding: 3px 6px;
}
footer svg {
fill: #6d0606;
transition: all .5s ease-out;
}
footer svg:hover {
fill: #a2214c;
transform: scale(1.4);
}
.container p {
	margin-bottom: 15 px;
}
body footer {
    margin-top: 15px;
    padding-top: 10px;
    background-image: url(bg/flowers.png);
}

.container.text-center .navbar-brand img {
    float: left;
    clear: right;
    padding-left: 2px;
}
.col-md-4 a .img-fluid {
vertical-align: middle;

}
body img {
    text-align: left;
}
